@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.container {
    font-size: 25px;
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px #000000;
}

.result-box {
    border-radius: 5px;
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution {
    background-color: rgb(21, 89, 235);
}

.delta {
    background-color: rgb(235, 21, 224);
}

.xvertex {
    background-color: rgb(139, 21, 235);
}

.yvertex {
    background-color: rgb(235, 21, 92);
}

.concavity {
    background-color: #440bca;
}